@import 'tailwindcss';

@theme {
  --animate-pop: pop 0.3s ease-out;
  @keyframes pop {
    0% {
      transform: scale(0.9);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  --animate-merge: merge 0.3s ease-out;
  @keyframes merge {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
}

body {
  @apply bg-[radial-gradient(#64748b_1px,transparent_1px)] [background-size:16px_16px]  bg-slate-700;
}
